%p#notice
	= notice
.row-fluid
	.span12.seriesnav
		%h1
			= @team.title
		= link_to 'Volver', teams_path, class:'back'
.row-fluid
	%ul.bxslider
		- @team.images.each do |image|
			%li.item
				= image_tag(image.attachment.url(:original))
.row-fluid.fullbox
	%p
		= @team.description.gsub("/\r\n/","<br/>")