%p#notice
	= notice
.row-fluid
	.span12.seriesnav
		%h1
			= @store.title
		= link_to 'Volver', stores_path, class:'back'
.row-fluid
	%ul.bxslider
		- @store.images.each do |image|
			%li.item
				= image_tag(image.attachment.url(:original))
.row-fluid.fullbox
	%p
		= @store.description.gsub("/\r\n/","<br/>")
.row-fluid
	#map_canvas

:javascript
	myCenter = new google.maps.LatLng(#{@store.latitude}, #{@store.longitude});
	function initialize() {

		var mapOptions = {
			center: myCenter,
			zoom: 16,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"),
		mapOptions);
		var marker=new google.maps.Marker({
			position:myCenter,
		});

		marker.setMap(map);

	}