%form.form-horizontal
  %fieldset
    .control-group
      .controls
        - @taxons.each do |tax|
          - if tax.parent_id.nil?
            .row-fluid.seriesnav
              %h1= tax.name
              %a#filters filtros
            .row-fluid.treemenu
              - @taxons.each do |tax_1|
                - if tax_1.parent_id == tax.id
                  .span3
                    %h4= tax_1.name
                    - @taxons.each do |tax_2|
                      - if tax_2.parent_id == tax_1.id
                        .check_cont
                          %input{:type => "checkbox", :value => tax_2.name, :name => tax_2.name, :id => tax_2.name}
                          %label.checkbox{ :for => tax_2.name } #{tax_2.name}
.row-fluid
  - @products.each do |product|
    - @tax_name = ''
    - unless product.deleted_at!=nil
      - product.taxons.each do |taxon|
        - @tax_name += ' '+taxon.permalink
      .span3.product
        %p.hidden.taxons=@tax_name
        = link_to(product, class: 'box smallbox') do
          - unless product.images.empty?
            .ph
              = image_tag(product.images.first.attachment.url(:large))
            .over
              %h1= product.name
              %p ver detalle
:javascript
  producttype = $('.seriesnav').find('h1').text();
  if (producttype == 'watches'){
    $('.smallbox').addClass('watchbox').removeClass('smallbox');
    $('.prodphoto').css('height', '345px');
    $('.variant').css('height', '98px');
  }
