<%= tab :products %>
<%= tab :mixes %>
<%= tab :videos %>
<%= tab :stores %>
<%= tab :teams %>
<%= tab :contacts %>
<li><%= link_to 'Configuration', :edit_admin_general_settings %></li>
<%= tab :orders %>
<%= tab :users %>