.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
      .nav-collapse.collapse
        = link_to('', root_path, class: 'brand')
        %ul.nav.navbar
          %li
            = link_to('HOME', root_path)
          %li.coleccionbot
            = link_to('COLECCIÓN', '' )
          %li
            = link_to('TEAM', teams_path)
          %li
            = link_to('STORES', stores_path)
          %li
            = link_to('NOTICIAS', notices_path)
          %li
            = link_to('CONTACTO', contacts_path )
          
          /- if spree_current_user
          /  %li.usermenu
          /    = link_to('MI CUENTA', spree.account_path, id: 'editcustomer')
          /  %li.usermenu
          /    = link_to('SALIR', spree.logout_path, id: 'closeSession')
          /  %li.usermenu
          /    = link_to 'cart', spree.cart_path
          /- else
          /  %li.usermenu
          /    = link_to('REGISTRARSE', spree.signup_path, id: 'regbot')
          /  %li.usermenu
          /    = link_to('ENTRAR', spree.login_path, id: 'loginbot')
          /  %li.usermenu
          /    = link_to 'cart', spree.cart_path
.row-fluid.coleccionnav
  .span3
    = link_to(types_path(:types => 'Sunglasses')) do
      %h1 Sunglasses
      %p ver colección
  .span3
    = link_to(types_path(:types => 'Watches')) do
      %h1 Watches
      %p ver colección
  .span3
    = link_to(types_path(:types => 'Prescription')) do
      %h1 Prescription
      %p ver colección
  .span3
    = link_to(types_path(:types => 'Snowgoogles')) do
      %h1 Snowgoogles
      %p ver colección