#contentinside
	.row-fluid
		%ul.bxslider
			%li.item
				= image_tag("01.jpg")
			%li.item
				= image_tag("02.jpg")
			%li.item
				= image_tag("03.jpg")
			%li.item
				= image_tag("04.jpg")
			%li.item
				= image_tag("05.jpg")
	.row-fluid
		.span4
			.row-fluid
				= link_to(types_path(:types => 'Sunglasses'), :class => 'box largebox') do
					.ph
						= image_tag("sol_hombre.jpg")
					.over
						%h1 SUNGLASSES HOMBRE
						%p show collection
			.row-fluid
				= link_to(types_path(:types => 'Prescription'), :class => 'box midbox') do
					.ph
						= image_tag("small01.jpg")
					.over
						%h1 PRESCRIPTION Mujer
						%p show collection
		.span4
			.row-fluid.box.midbox
				= link_to(stores_path(:types => 'Prescription'), :class => 'box midbox') do
					.ph
						= image_tag("large01.jpg")
					.over
						%h1 PRESCRIPTION HOMBRE
						%p show collection
			.row-fluid
				= link_to(teams_path, :class => 'box largebox') do
					.ph
						= image_tag("team.jpg")
					.over
						%h1 TEAM
						%p show riders
		.span4
			.row-fluid
				= link_to(types_path, class: 'box largebox') do
					.ph
						= image_tag("sol_mujer.jpg")
					.over
						%h1 SUNGLASSES MUJER
						%p show collection
			.row-fluid
				= link_to(stores_path, :class => 'box midbox') do
					.ph
						= image_tag("locales.jpg")
					.over
						%h1 STORES
						%p where we are