#contentinside
	.row-fluid
		%ul.bxslider
			%li.item
				= image_tag("header01.jpg")
			%li.item
				= image_tag("header02.jpg")
	.row-fluid
		.span4
			.row-fluid
				%a.box.midbox(href="#")
					.ph
						= image_tag("small01.jpg")
					.over
						%h1 Receta Mujer
						%p ver colección
			.row-fluid
				%a.box.largebox(href="#")
					.ph
						= image_tag("large01.jpg")
					.over
						%h1 RECETA HOMBRE
						%p ver colección
		.span4
			.row-fluid
				%a.box.largebox(href="#")
					.ph
						= image_tag("relojete.jpg")
					.over
						%h1 RELOJES
						%p ver colección
			.row-fluid.box.midbox
				.twitterfeed
		.span4
			.row-fluid
				%a.box.midbox(href="#")
					.ph
						= image_tag("small04.jpg")
					.over
						%h1 SOL HOMBRE
						%p ver colección
			.row-fluid
				%a.box.midbox(href="#")
					.ph
						= image_tag("team.jpg")
					.over
						%h1 TEAM
						%p ver noticias
			.row-fluid
				%a.box.midbox(href="#")
					.ph
						= image_tag("small02.jpg")
					.over
						%h1 SOL MUJER
						%p ver colección